#gameContainer {
    position: relative;
    width: 1500px; /* Increased width for the playing area */
    height: 500px; /* Increased height for the playing area */
}

#canvas {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

#background {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 1500px; 
    height: 500px;
    background-image: url("../images/BackgroundPS.png");
    background-size: cover;
}
#startScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
  }
  #startButton {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }