#gameContainer {
    position: relative;
    width: 1500px; /* Increased width for the playing area */
    height: 500px; /* Increased height for the playing area */
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 1500px; 
    height: 500px;
    background-image: url("../images/background.jpg");
    background-size: cover;
}
